<nav class="navbar nav_mask_full">
  <div class="navi_container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">
      Toggle navigation </span>
      <span class="icon-bar">
      </span>
      <span class="icon-bar">
      </span>
      <span class="icon-bar">
      </span>
      </button>
      <a class="navbar-brand" href="/">
      weeqend </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <% unless current_user %>
          <a href="/users/sign_up">
          Sign Up </a>
          <% end %>
        </li>
        <li>
          <% unless current_user %>
          <a href="/users/sign_in">
          Login </a>
          <% end %>
        </li>
        <li>
          <a href="/search">
          Search </a>
        </li>
        <li>
          <a href="/how-it-works">
          How it works </a>
        </li>
        <li>
          <% if current_user %>
          <%=link_to('Log Out', destroy_user_session_path, method:'delete')%>
          <% end %>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
  <!--/.nav-collapse -->
</nav>
<div class="gap">
</div>
<div class="first_line wow fadeInDown">
</div>
<div class="first_title">
  <p class=" wow fadeInDown">
    SCHEDULE
  </p>
</div>
<div class="first_description">
  <p class=" wow fadeInDown">
    
  </p>
</div>
<div class="mini_gap">
</div>
<div id="sh_carousel" class="carousel slide js-whole-carousel" data-interval="false">
  <!-- Carousel indicators -->
  <div class="carousel-indicators">
    <div class=" wow fadeInLeft active btn eventime_button graybtn graytxt js-friday-btn" data-target="#sh_carousel" >
      Friday
    </div>
    <div class=" wow fadeInRight btn eventime_button graybtn graytxt js-saturday-btn" data-target="#sh_carousel" >
      Saturday
    </div>
    <div class=" wow fadeInRight btn eventime_button graybtn graytxt js-sunday-btn" data-target="#sh_carousel" >
      Sunday
    </div>
    <div class=" wow fadeInRight btn eventime_button graybtn graytxt" data-target="#sh_carousel" >
      Next Weekend
    </div>
  </div>
  <!-- Carousel items -->


  <div class="carousel-inner">
    <div class="active item js-friday-carousel">
      <% @schedule.each do |event| %>
      
          <div class="schedule_date wow fadeInLeft js-erase-me">
        <%= Chronic.parse('friday').day %>
      </div>
      <div class="schedule_month wow fadeInRight js-erase-me">
         <%= Date::MONTHNAMES[Chronic.parse('friday').month] %>      
      </div>
      <!-- Accordion item -->
      <div class="mini_gap js-erase-me">
      </div>
      <div id="accordion1" class="specialDiv">
        <div class="panel wow fadeInDown">
          <a data-toggle="collapse" data-parent="#accordion1" href="#<%=event.id%>">
          <div class="accordion_left">
            <div class="accordions_titles_small">
              <p class="accordion_date">
                 <%=event.start_time.in_time_zone("Eastern Time (US & Canada)").strftime('%l:%M%p')%>
                 - <%=event.end_time.in_time_zone("Eastern Time (US & Canada)").strftime('%l:%M%p')%>
              </p>
            </div>
          </div>
          <div class="accordion_right">

            <div class="accordions_titles_small">
              <div class="accordion_description">
                <p>
                   <%=event.title%>
                </p>
              </div>
            </div>
          </div>
          </a>
        </div>
        <div id="<%=event.id%>" class="panel-collapse collapse accordion_full">
          <p>
            <%= event.description.html_safe %>
            <div title="Add to Calendar" class="addthisevent">
                Add to Calendar
                <span class="start"><%=event.start_time.strftime('%m/%d/%y')%> <%=event.start_time.strftime('%H:%M%P')%></span>
                <span class="end"><%=event.end_time.strftime('%m/%d/%y')%><%=event.end_time.strftime('%H:%M%P')%></span>
                <span class="timezone">America/New_York</span>
                <span class="title"><%=event.title%></span>
                <span class="description"><%=event.description.html_safe %></span>
                <span class="location"><%=event.location%></span>
                <span class="date_format">MM/DD/YYYY</span>
            </div>
            <button class="js-more-options" data-id='<%=event.id%>' > Replace  </button>
          </p>
        </div>
        <!-- Accordion item -->
        <div class="mini_gap">
        </div>
       </div> 
      
      <%end%>
      <!-- End of Friday -->
    </div>
    <div class="item js-saturday-carousel">
    </div>
    
    <div class="item js-sunday-carousel">
        </div>
        <!-- Carousel nav -->
        <a class="left_arrow wow fadeInLeft" href="#sh_carousel" data-slide="prev">
          <svg width="26px" height="48">
            <polygon points="3.3,24.5 25.5,2.3 24,0.8 0.3,24.5 24,48.2 25.5,46.7"/>
            </svg>
          </a>
          <a class="right_arrow wow fadeInRight" href="#sh_carousel" data-slide="next">
            <svg width="26px" height="48">
              <polygon points="22.5,24.5 0.3,2.3 1.8,0.8 25.5,24.5 1.8,48.2 0.3,46.7"/>
              </svg>
            </a>
            <div class="gap">
            </div>
          </div>
        </div>
        <!-- End Schedule -->
        <div class="mini_gap">
        </div>