<div class="tags-back">

<div class="tags-content">
<form action="/addtags" method="post">
	<% @tags.each do |tag| %>
		<input type="checkbox" name="tags[]" value="<%=tag.id%>" id="tag-<%=tag.id%>" >
		<label for="tag-<%=tag.id%>"><%=tag.name%></label><br>
	<% end %>

	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
<br>
<input type="submit" value="Submit">
</form>
</div>

</div>


			